// ######################################## //
// ## REVIEW.SCSS ## //
// ######################################## //

//Title Section Style

@import '../../styles/variables/colors.scss';
@import '../../styles/variables/mixins.scss';

.review-card-style {
  margin-top: 30px;
  .reviewer-info {
    display: flex;
    align-items: center;
  }

  //image-style
  .review-image {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 24px;
  }

  //resouce-name
  .review-name {
    color: $black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 2px;
  }
}
