// ######################################## //
// ## HEADER.SCSS ## //
// ######################################## //

//Title Section Style

@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/mixins.scss';

.challenge-listing-style {
  .challenge-listing-container {
    padding: 90px 12px 0;

    .challenge-card-section {
      margin-top: 30px;
    }

    .guides-section {
      margin-top: 27px;
    }
  }
}
