// ######################################## //
// ## HEADER.SCSS ## //
// ######################################## //

//Title Section Style

@import '../../styles/variables/colors.scss';
@import '../../styles/variables/mixins.scss';

.home-style {
  .home-page-style {
    padding: 60px 12px 0;
  }

  .jobs-by-location {
    margin-top: 28px;
  }

  .resources {
    margin-top: 40px;
  }

  .heading-see-all-button {
    margin-bottom: 10px;
  }

  .all-jobs-container {
    margin-top: 20px;

    .job-length {
      margin-top: 10px;
    }

    .number-of-jobs {
      color: $primary;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 27px;
    }
  }

  .guides-section {
    margin-top: 48px;
  }
}
