// ######################################## //
// ## GUIDE.SCSS ## //
// ######################################## //

//Title Section Style

@import '../../styles/variables/colors.scss';
@import '../../styles/variables/mixins.scss';

.challenge-card-style {
  //card-style

  .col-6:nth-child(even) {
    padding-left: 6.5px;
  }

  .col-6:nth-child(odd) {
    padding-right: 6.5px;
  }

  .challenge-card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 16px rgba(54, 54, 54, 0.1);
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 13px;
  }
}
